@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 249, 245);
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}
